server {
  listen 80;
  listen 443 ssl;
  server_name vladbortnik.dev www.vladbortnik.dev;

  location / {
    root /srv/static;
    index index.html;
    try_files $uri $uri/ /index.html;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;
    add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
   }

  location /static {
    alias /srv/static;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;
    add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
  }
}
